[bans]
allow-wildcard-paths = true
multiple-versions = "warn"
wildcards = "deny"
workspace-default-features = "deny"

skip = [
    "windows-sys@0.60",
    "windows-sys@0.61",
]

[bans.workspace-dependencies]
duplicates = "deny"
include-path-dependencies = false
unused = "deny"

[[bans.features]]
crate = "aldrin-codegen"
allow = ["default"]

[[bans.features]]
crate = "example-introspect"
allow = ["default"]

[graph]
all-features = true

[licenses]
allow = [
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "MIT",
    "Unicode-3.0",
]
version = 2

[licenses.private]
ignore = true

[sources]
unknown-git = "deny"
unknown-registry = "deny"
