[package]
name = "aldrin-conformance-tester"
description = "Protocol conformance tester for Aldrin brokers."
version = "0.1.0"
authors = ["Aldrin Contributors"]
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.70.0"

[dependencies.aldrin-proto]
version = "0.1.0"
path = "../proto"
default-features = false
features = ["tokio"]

[dependencies.anyhow]
version = "1.0.32"
default-features = false
features = ["std"]

[dependencies.bwrap]
version = "1.3.0"
default-features = false
features = ["use_std"]

[dependencies.clap]
version = "4.2.4"
default-features = false
features = [
    "color",
    "derive",
    "error-context",
    "help",
    "std",
    "suggestions",
    "usage",
    "wrap_help",
]

[dependencies.once_cell]
version = "1.4.0"
default-features = false
features = ["std"]

[dependencies.serde]
version = "1.0.160"
default-features = false
features = ["derive"]

[dependencies.serde_json]
version = "1.0.48"
default-features = false
features = ["std"]

[dependencies.termcolor]
version = "1.1.0"
default-features = false

[dependencies.terminal_size]
version = "0.2.3"
default-features = false

[dependencies.tokio]
version = "1.27.0"
default-features = false
features = [
    "io-util",
    "net",
    "process",
    "rt-multi-thread",
    "time",
]

[dependencies.uuid]
version = "1.2.1"
default-features = false
